<form method="post" name="question_form" id="question_form">
     <div class="form_element">
       <label class="label_class">Category</label>  <br/>
       <input type="text" name="category" size="72" />
     </div> 
     <div class="form_element">
       <label class="">Question</label>  <br/>
       <input type="text" class="simple_text_box" name="question" size="72" />
       <!-- <textarea name="question" class="rich_text_box" id="editor2" rows="10" cols="50"></textarea> -->
       
     </div>
     <div class="form_element">
       <label class="label_class">Answer</label> <br/> 
       <textarea title="Write your answer!!!" class="answer_inpur_class" name="answer" placeholder="Write your answer!!!"></textarea>
       <!-- <textarea name="answer" id="editor1" rows="10" cols="50"></textarea> -->
     </div> 
    <div class="form_element editor">
       <input type="button" class="submit_btn_class" id="submit_btn" name="submit_answer" value ="Save"/>
       <input type="button" class="submit_btn_class" name="cancel" value ="Cancel"/>
     </div> 

</form>