<div id="register_div" class="col-sm-8">
	<form method="post" name="register_form" id="register_form">
     <div class="form_element">
       <label class="label_class">Name</label>  <br/>
       <input type="text" name="name" size="72" />
     </div> 
     <div class="form_element">
       <label class="">Email Address</label>  <br/>
       <input type="text" class="simple_text_box" name="enail" size="72" />
     </div>
        <div class="form_element">
       <label class="">Phone</label>  <br/>
       <input type="text" class="simple_text_box" name="phone" size="72" />
     </div>
     

    <div class="form_element editor">
       <input type="button" class="submit_btn_class" id="submit_btn" name="submit_answer" value ="Save"/>
       <input type="button" class="submit_btn_class" name="cancel" value ="Cancel"/>
     </div> 

</form>


</div>